@import "timetable.css";

:root {
    font-family: vdl-v7marugothic, sans-serif;
}

.exhibits {
    margin: 100px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, min(500px, 70vw));
    grid-gap: 50px;
}

.exhibit {
    width: min(500px, 70vw);
    height: min(200px, auto);
    color: white;
    border-radius: 10px 10px 50px 10px;
    padding: 10px;
    transition-duration: 5s;
}

.exhibit p {
    margin: 0;
}

.exhibit-room {
    text-align: right;
    font-size: 12px;
}

.exhibit-team-name {
    text-align: left;
    font-size: 12px;
    line-height: 0;
}

.exhibit-name {
    text-align: left;
    font-size: 24px;
}

.exhibit-description {
    text-align: left;
    font-size: 16px;
}

.orange {
    background-color: orangered;
}

.orange-pink {
    background: linear-gradient(150deg,orangered 50%, deeppink 50%);
}

.pink {
    background-color: deeppink;
}

.green {

    background-color: darkgreen;
}