@media screen and (max-width: 1024px) {
    #icon-mobile {
        position: absolute;
        display: inline-block;
        top: 50%;
        transform: translateY(-50%);
    }

    svg.header-item {
        height: 80px;
    }

    .nav-pc {
        display: none;
    }

    #hamburger {
        text-align: center;
        z-index: 999;
        display: inline-block;
        position: absolute;
        width: 100px;
        height: 100px;
        margin-right: 20px;
        margin-left: auto;
        top: 50%;
        transform: translateX(50vw) translateX(-150%) translateY(-50%);
        cursor: pointer;
    }

    #hamburger .hamburger-line-1 {
        display: block;
        width: 100%;
        height: 4px;
        background-color: white;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
        transform: translateY(5px);
    }
    #hamburger .hamburger-line-2 {
        display: block;
        width: 100%;
        height: 4px;
        background-color: white;
        transform: translateY(40px);
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
    }

    #hamburger .hamburger-label {
        position: absolute;
        font-family: Quicksand, sans-serif;
        display: inline-block;
        font-size: 30px;
        color: white;
        left: 50%;
        transform: translateY(90px) translateY(-50%) translateX(-50%);
        white-space: nowrap;
    }

    .open-hamburger .hamburger-line-1 {
        transform: translateY(20px) rotate(45deg) !important;
    }
    .open-hamburger .hamburger-line-2 {
        transform: translateY(20px) rotate(-45deg) !important;
    }

    .nav-mobile {
        z-index: 11;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,.8);
        display: none;
    }

    .nav-mobile ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .nav-mobile li {
        margin: 0;
        padding: 0;
    }

    .nav-mobile li span {
        font-size: 15px;
        color: #fff;
    }

    .nav-mobile li a, .nav-mobile li span {
        display: block;
        padding: 20px 0;
    }

    .header {
        height: 18ch;
    }
}

@media screen and (min-width: 1024px) {
    #icon-mobile {
        display: none;
    }

    .nav-mobile {
        display: none;
    }
    #hamburger {
        display: none;
    }

    .nav-pc {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        height: auto;
        width: auto;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-item {
        display: block;
        margin-left: 50px;
    }

    .header {
        height: 5ch;
    }

    svg.header-item {
        height: 30px;
    }
}

.header {
    z-index: 10;
    background-color: #333333;
    width: 100%;
    text-align: center;
    position: fixed;
}

svg.header-item {
    resize: none;
}

a.header-item {
    color: #dddddd;
    text-decoration: none;
    font-size: 15px;
}

li.header-item {
    font-family: Quicksand, sans-serif;
    list-style: none;
    font-size: 50px;
}
li.header-item a {
    color: white;
    text-decoration: none;
}