:root {
    --pc-header-spacing: 20px;
    --pc-header-height: 50px;
    --mobile-header-height: 80px;
    --font-family: Quicksand, sans-serif;
    --header-z-index: 10;
}

/* スマホ表示 */
@media screen and (max-width: 1000px) {
    :root {
        --header-height: var(--mobile-header-height);
    }

    .nav-pc {
        display: none;
    }

    .header {
        height: var(--mobile-header-height);
    }

    .header-mobile {
        display: grid;
        width: 100%;
        grid-template-columns: calc(var(--mobile-header-height) * 1.0) 1fr calc(var(--mobile-header-height) * 1.0);
    }

    .header-mobile div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #icon-mobile {
        height: calc(var(--mobile-header-height) * 0.6);
    }

    #menu-button {
        z-index: calc(var(--header-z-index) + 2);

        display: flex;
        flex-direction: column;
        justify-content: center;

        cursor: pointer;
    }

    #menu-button span {
        color: #fff;
    }

    .nav-mobile {
        z-index: calc(var(--header-z-index) + 1);

        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;

        background: rgba(0,0,0,.8);
    }

    .nav-mobile-inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .nav-mobile-inner div {
        margin: 30px;
        font-size: 1.2em;
    }

    .nav-mobile-inner div a {
        text-decoration: none;
        color: white;
    }
}

/* PC表示 */
@media screen and (min-width: 1000px) {
    :root {
        --header-height: var(--pc-header-height);
    }

    .nav-mobile, .nav-mobile-inner, #menu-button, #icon-mobile {
        display: none;
    }

    .header {
        height: var(--pc-header-height);
    }

    .nav-pc {
        height: auto;
        width: auto;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .nav-pc div {
        margin: 10px;
        font-size: 1em;
    }

    .nav-pc div a {
        text-decoration: none;
        color: #fff;
    }

    #icon-pc {
        height: calc(var(--pc-header-height) * 0.6);
    }

    .header-item {
        margin: 0 calc(var(--pc-header-spacing) / 2) 0 calc(var(--pc-header-spacing) / 2);
    }
}

.header {
    z-index: var(--header-z-index);
    width: 100%;
    position: fixed;

    background-color: #333333;

    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;

    display: flex;
    justify-content: center;
    font-size: 16px;
}