.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-images {
    display: flex;
    overflow-x: scroll;

    /* ms-browser */
    -ms-overflow-style: none;
    /* firefox */
    scrollbar-width: none;
}

/* chrome,safari */
.hero-images::-webkit-scrollbar {
    transition-duration: 0.5s;
    display: none;
}

.hero-image {
    min-width: 100vw;
    height: 100vh;
    resize: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-dark-effect {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-text {
    position: absolute;
    color: white;

    text-align: center;
}