@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.hero {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url("../img/hero.jpg");
    text-align: center;
    vertical-align: middle;
}

.hero-box {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-text {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    color: white;
    animation-name: hero-show-text;
    animation-timing-function: ease;
    animation-duration: 3s;
}

.hero-text h1 {
    font-family: 'Righteous', cursive;
    margin: 0;
}
.hero-text h2 {
    font-family: 'Righteous', cursive;
    margin: 0;
}
.hero-text p {
    margin: 10px;
}

@keyframes hero-show-text {
    0% {
        transform: translateY(-100%) translateX(-50%);
        opacity: 0
    }
    100% {
        transform: translateY(-50%) translateX(-50%);
        opacity: 1;
    }
}