@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('header.css');
@import url('hero.css');
@import url('hamburger.css');

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: clamp(30px,10vw,75px);
}

h2 {
    font-size: clamp(24px,8vw,60px);
}

p, span {
    font-size: 16px;
}