@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('header.css');
@import url('hero.css');
@import url('access.css');

body {
    margin: 0;
    padding: 0;
}

section {
    text-align: center;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 48px;
}

p, span {
    font-size: 32px;
}

@media screen and (max-width: 768px) {

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 24px;
    }

    p, span {
        font-size: 16px;
    }
}