@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('header.css');
@import url('hero.css');
@import url('access.css');
@import url('hamburger.css');
@import url('register.css');

body {
    margin: 0;
    padding: 0;
}

section {
    text-align: center;
    padding-top: 50px;
}

h1 {
    font-size: clamp(32px,10vw,50px);
}

h2 {
    font-size: clamp(24px,8vw,30px);
}

p, span {
    font-size: 16px;
}

.youtube {
    width: 90%;
    aspect-ratio: 16 / 9;
  }
  .youtube iframe {
    width: 90%;
    height: 90%;
  }